---
layout: default
---
<article class="post" data-count-key="post:{{ page.id | replace: '/', ':' }}">
  <h1>{{ page.title }}</h1>
  <div class="meta">
    <span>{{ page.date | date: "%Y-%m-%d" }}</span>
    {% if page.categories %}
      <span>分類：
        {% for c in page.categories %}
          <a href="{{ '/categories.html#' | append: c | relative_url }}">{{ c }}</a>{% unless forloop.last %} / {% endunless %}
        {% endfor %}
      </span>
    {% endif %}
   {% if page.tags %}
  <span>標籤：
    {% for t in page.tags %}
      <a href="{{ '/tags.html#' | append: t | slugify | relative_url }}">{{ t }}</a>{% unless forloop.last %}，{% endunless %}
    {% endfor %}
  </span>
{% endif %}
    <span>閱讀時間：約 {{ page.content | number_of_words | divided_by:200 | ceil }} 分鐘</span>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-views">
    <strong>瀏覽數：</strong><span id="view-count">…</span>
  </div>
</article>
